<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-cnpush" version="1.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-cnpush</name>
    <description>Cordova Chinese Push Plugin</description>
    <author>350561378@qq.com</author>
    <license>Apache License</license>
    <keywords>cordova,huawei,push</keywords>
    <engines>
        <engine name="cordova" version=">=3.0" />
    </engines>

    <js-module name="CordovaPush" src="www/cordova-push.js">
        <clobbers target="cnPush" />
    </js-module>

    <js-module src="www/CnPushTool.js" name="CnPushTool"></js-module>

    <platform name="android">
         
    </platform>


</plugin>