<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-cnpush" version="2.6.6" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-cnpush</name>
    <description>Cordova Chinese Push Plugin</description>
    <author>350561378@qq.com</author>
    <license>Apache License</license>
    <keywords>cordova,huawei,push,pay,huaweipush,hms</keywords>
    <engines>
        <engine name="cordova" version=">=3.0" />
    </engines>

    <preference name="APPID" />
    <preference name="CPID" />
    <preference name="PACKAGENAME" />

    <preference name="JPUSH_APP_KEY" />
    <preference name="CHANNEL" default="developer-default" />



    <!-- dependencies -->
    <dependency id="cordova-plugin-device" />
    <dependency id="cordova-plugin-jcore" />

    <js-module src="www/JPushPlugin.js" name="JPushPlugin">
        <clobbers target="JPush" />
    </js-module>

    <hook type="after_prepare" src="hooks/after_prepare/999-admobPluginNotice.js" />

    <js-module name="PushNotification" src="www/PushNotification.js">
        <clobbers target="PushNotification" />
    </js-module>



    <!-- <js-module name="CordovaHuaweiHMS" src="www/cordova-plugin-cnpush.js">
        <clobbers target="cordova.plugins.huaweipush" />
    </js-module> -->

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="PushPlugin">
                <param name="android-package" value="com.waitaction.huaweipush.CordovaHuaweiHMS" />
            </feature>
        </config-file>
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <meta-data android:name="hwc-theme" android:value="androidhwext:style/Theme.Emui.NoActionBar" />
            <meta-data android:name="com.huawei.hms.client.appid" android:value="appid=$APPID"></meta-data>
            <meta-data android:name="com.huawei.hms.client.cpid" android:value="cpid=$CPID"></meta-data>
            <meta-data android:name="com.huawei.hms.version" android:value="2.6.1"></meta-data>
            <activity android:name="com.huawei.hms.activity.BridgeActivity" android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale" android:excludeFromRecents="true" android:exported="false" android:hardwareAccelerated="true" android:theme="@android:style/Theme.Translucent">
                <meta-data android:name="hwc-theme" android:value="androidhwext:style/Theme.Emui.Translucent" />
            </activity>
            <activity android:name="com.huawei.updatesdk.service.otaupdate.AppUpdateActivity" android:configChanges="orientation|screenSize" android:exported="false" android:theme="@style/upsdkDlDialog">
                <meta-data android:name="hwc-theme" android:value="androidhwext:style/Theme.Emui.Translucent.NoTitleBar" />
            </activity>
            <activity android:name="com.huawei.updatesdk.support.pm.PackageInstallerActivity" android:configChanges="orientation|keyboardHidden|screenSize" android:exported="false" android:theme="@style/upsdkDlDialog">
                <meta-data android:name="hwc-theme" android:value="androidhwext:style/Theme.Emui.Translucent" />
            </activity>
            <activity android:name="com.huawei.android.hms.agent.common.HMSAgentActivity" android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale" android:excludeFromRecents="true" android:exported="false" android:hardwareAccelerated="true" android:theme="@android:style/Theme.Translucent">
                <meta-data android:name="hwc-theme" android:value="androidhwext:style/Theme.Emui.Translucent" />
            </activity>
            <activity android:name="com.huawei.android.hms.agent.pay.HMSPayAgentActivity" android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale" android:excludeFromRecents="true" android:exported="false" android:hardwareAccelerated="true" android:theme="@android:style/Theme.Translucent">
                <meta-data android:name="hwc-theme" android:value="androidhwext:style/Theme.Emui.Translucent" />
            </activity>
            <provider android:name="com.huawei.hms.update.provider.UpdateProvider" android:authorities="$PACKAGENAME.hms.update.provider" android:exported="false" android:grantUriPermissions="true"></provider>
            <provider android:name="com.huawei.updatesdk.fileprovider.UpdateSdkFileProvider" android:authorities="$PACKAGENAME.updateSdk.fileProvider" android:exported="false" android:grantUriPermissions="true">
            </provider>
            <service android:name="com.huawei.updatesdk.service.deamon.download.DownloadService" android:exported="false"/>
            <receiver android:name="com.waitaction.huaweipush.HuaweiPushReceiver">
                <intent-filter>
                    <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                    <action android:name="com.huawei.android.push.intent.RECEIVE" />
                    <action android:name="com.huawei.android.push.intent.CLICK" />
                    <action android:name="com.huawei.intent.action.PUSH_STATE" />
                </intent-filter>
                <meta-data android:name="CS_cloud_ablitity" android:value="successRateAnalytics"></meta-data>
            </receiver>
            <receiver android:name="com.huawei.hms.support.api.push.PushEventReceiver">
                <intent-filter>
                    <action android:name="com.huawei.intent.action.PUSH" />
                </intent-filter>
            </receiver>
        </config-file>
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
        </config-file>
        <source-file src="src/android/lib/HMS_SDK_2.6.1.301.jar" target-dir="libs"/>
        <source-file src="src/android/CordovaHuaweiHMS.java" target-dir="src/com/waitaction/huaweipush/" />
        <source-file src="src/android/HuaweiPushReceiver.java" target-dir="src/com/waitaction/huaweipush/" />
        <source-file src="src/android/UpdateApp.java" target-dir="src/com/waitaction/huaweipush/" />
        <!--res-->
        <!--drawable-->
        <source-file src="src/android/res/drawable/hms_game_buoy_hide_shape_red.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/hms_game_buoy_hide_shape.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/hms_game_hide_float_top.9.png" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/hms_game_hide_guide.gif" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/upsdk_third_download_bg.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/upsdk_update_all_button.xml" target-dir="res/drawable" />
        <!--drawable-hdpi-1208x720-v4-->
        <source-file src="src/android/res/drawable-hdpi-1208x720-v4/hms_game_buoy_icon_normal.png" target-dir="res/drawable-hdpi-1208x720-v4" />
        <!--drawable-hdpi-v4-->
        <source-file src="src/android/res/drawable-hdpi-v4/hms_game_buoy_icon_normal.png" target-dir="res/drawable-hdpi-v4" />
        <source-file src="src/android/res/drawable-hdpi-v4/hms_game_buoy_red_dot.png" target-dir="res/drawable-hdpi-v4" />
        <source-file src="src/android/res/drawable-hdpi-v4/hms_game_hide_float_eye_off_gray.png" target-dir="res/drawable-hdpi-v4" />
        <source-file src="src/android/res/drawable-hdpi-v4/hms_game_icon.png" target-dir="res/drawable-hdpi-v4" />
        <!--drawable-xhdpi-v4-->
        <source-file src="src/android/res/drawable-xhdpi-v4/hms_game_buoy_icon_normal.png" target-dir="res/drawable-xhdpi-v4" />
        <source-file src="src/android/res/drawable-xhdpi-v4/hms_game_buoy_red_dot.png" target-dir="res/drawable-xhdpi-v4" />
        <source-file src="src/android/res/drawable-xhdpi-v4/hms_game_hide_float_eye_off_gray.png" target-dir="res/drawable-xhdpi-v4" />
        <source-file src="src/android/res/drawable-xhdpi-v4/hms_game_icon.png" target-dir="res/drawable-xhdpi-v4" />
        <source-file src="src/android/res/drawable-xhdpi-v4/upsdk_btn_emphasis_normal_layer.9.png" target-dir="res/drawable-xhdpi-v4" />
        <source-file src="src/android/res/drawable-xhdpi-v4/upsdk_cancel_normal.png" target-dir="res/drawable-xhdpi-v4" />
        <source-file src="src/android/res/drawable-xhdpi-v4/upsdk_cancel_pressed.png" target-dir="res/drawable-xhdpi-v4" />
        <!--drawable-xxhdpi-v4-->
        <source-file src="src/android/res/drawable-xxhdpi-v4/hms_game_buoy_icon_normal.png" target-dir="res/drawable-xxhdpi-v4" />
        <source-file src="src/android/res/drawable-xxhdpi-v4/hms_game_buoy_red_dot.png" target-dir="res/drawable-xxhdpi-v4" />
        <source-file src="src/android/res/drawable-xxhdpi-v4/hms_game_hide_float_eye_off_gray.png" target-dir="res/drawable-xxhdpi-v4" />
        <source-file src="src/android/res/drawable-xxhdpi-v4/hms_game_icon.png" target-dir="res/drawable-xxhdpi-v4" />
        <source-file src="src/android/res/drawable-xxhdpi-v4/upsdk_btn_emphasis_normal_layer.9.png" target-dir="res/drawable-xxhdpi-v4" />
        <source-file src="src/android/res/drawable-xxhdpi-v4/upsdk_cancel_normal.png" target-dir="res/drawable-xxhdpi-v4" />
        <source-file src="src/android/res/drawable-xxhdpi-v4/upsdk_cancel_pressed.png" target-dir="res/drawable-xxhdpi-v4" />
        <!--drawable-xxxhdpi-v4-->
        <source-file src="src/android/res/drawable-xxxhdpi-v4/hms_game_buoy_icon_normal.png" target-dir="res/drawable-xxxhdpi-v4" />
        <source-file src="src/android/res/drawable-xxxhdpi-v4/hms_game_buoy_red_dot.png" target-dir="res/drawable-xxxhdpi-v4" />
        <source-file src="src/android/res/drawable-xxxhdpi-v4/hms_game_hide_float_eye_off_gray.png" target-dir="res/drawable-xxxhdpi-v4" />
        <source-file src="src/android/res/drawable-xxxhdpi-v4/upsdk_btn_emphasis_normal_layer.9.png" target-dir="res/drawable-xxxhdpi-v4" />
        <source-file src="src/android/res/drawable-xxxhdpi-v4/upsdk_cancel_normal.png" target-dir="res/drawable-xxxhdpi-v4" />
        <source-file src="src/android/res/drawable-xxxhdpi-v4/upsdk_cancel_pressed.png" target-dir="res/drawable-xxxhdpi-v4" />
        <!--layout-->
        <source-file src="src/android/res/layout/hms_download_progress.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/hms_game_buoy_hide_guide_dialog.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/hms_game_buoy_hide_notice.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/hms_game_buoy_window_small.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/hms_game_top_async_login.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/hwpush_buttons_layout.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/hwpush_icons_layout.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/hwpush_layout2.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/hwpush_layout4.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/hwpush_layout7.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/hwpush_layout8.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/upsdk_app_dl_progress_dialog.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/upsdk_ota_update_view.xml" target-dir="res/layout" />
        <!--layout-ar-->
        <source-file src="src/android/res/layout-ar/upsdk_app_dl_progress_dialog.xml" target-dir="res/layout-ar" />
        <source-file src="src/android/res/layout-ar/upsdk_ota_update_view.xml" target-dir="res/layout-ar" />
        <!--layout-fa-->
        <source-file src="src/android/res/layout-fa/upsdk_app_dl_progress_dialog.xml" target-dir="res/layout-fa" />
        <source-file src="src/android/res/layout-fa/upsdk_ota_update_view.xml" target-dir="res/layout-fa" />
        <!--layout-iw-->
        <source-file src="src/android/res/layout-iw/upsdk_app_dl_progress_dialog.xml" target-dir="res/layout-iw" />
        <source-file src="src/android/res/layout-iw/upsdk_ota_update_view.xml" target-dir="res/layout-iw" />
        <!--layout-land-->
        <source-file src="src/android/res/layout-land/hms_game_buoy_hide_guide_dialog.xml" target-dir="res/layout-land" />
        <!--layout-ur-->
        <source-file src="src/android/res/layout-ur/upsdk_app_dl_progress_dialog.xml" target-dir="res/layout-ur" />
        <source-file src="src/android/res/layout-ur/upsdk_ota_update_view.xml" target-dir="res/layout-ur" />
        <!--values-->
        <source-file src="src/android/res/values/hms_values.xml" target-dir="res/values" />
        <!--values-am-->
        <source-file src="src/android/res/values-am/hms_values-am.xml" target-dir="res/values-am" />
        <!--values-ar-->
        <source-file src="src/android/res/values-ar/hms_values-ar.xml" target-dir="res/values-ar" />
        <!--values-as-->
        <source-file src="src/android/res/values-as/hms_values-as.xml" target-dir="res/values-as" />
        <!--values-az-->
        <source-file src="src/android/res/values-az/hms_values-az.xml" target-dir="res/values-az" />
        <!--values-b+jv+Latn-->
        <source-file src="src/android/res/values-b+jv+Latn/hms_values-b+jv+Latn.xml" target-dir="res/values-b+jv+Latn" />
        <!--values-b+sr+Latn-->
        <source-file src="src/android/res/values-b+sr+Latn/hms_values-b+sr+Latn.xml" target-dir="res/values-b+sr+Latn" />
        <!--values-be-->
        <source-file src="src/android/res/values-be/hms_values-be.xml" target-dir="res/values-be" />
        <!--values-bg-->
        <source-file src="src/android/res/values-bg/hms_values-bg.xml" target-dir="res/values-bg" />
        <!--values-bn-->
        <source-file src="src/android/res/values-bn/hms_values-bn.xml" target-dir="res/values-bn" />
        <!--values-bo-rCN-->
        <source-file src="src/android/res/values-bo-rCN/hms_values-bo-rCN.xml" target-dir="res/values-bo-rCN" />
        <!--values-bs-->
        <source-file src="src/android/res/values-bs/hms_values-bs.xml" target-dir="res/values-bs" />
        <!--values-ca-->
        <source-file src="src/android/res/values-ca/hms_values-ca.xml" target-dir="res/values-ca" />
        <!--values-cs-->
        <source-file src="src/android/res/values-cs/hms_values-cs.xml" target-dir="res/values-cs" />
        <!--values-da-->
        <source-file src="src/android/res/values-da/hms_values-da.xml" target-dir="res/values-da" />
        <!--values-de-->
        <source-file src="src/android/res/values-de/hms_values-de.xml" target-dir="res/values-de" />
        <!--values-el-->
        <source-file src="src/android/res/values-el/hms_values-el.xml" target-dir="res/values-el" />
        <!--values-en-rGB-->
        <source-file src="src/android/res/values-en-rGB/hms_values-en-rGB.xml" target-dir="res/values-en-rGB" />
        <!--values-es-->
        <source-file src="src/android/res/values-es/hms_values-es.xml" target-dir="res/values-es" />
        <!--values-es-rUS-->
        <source-file src="src/android/res/values-es-rUS/hms_values-es-rUS.xml" target-dir="res/values-es-rUS" />
        <!--values-et-->
        <source-file src="src/android/res/values-et/hms_values-et.xml" target-dir="res/values-et" />
        <!--values-eu-->
        <source-file src="src/android/res/values-eu/hms_values-eu.xml" target-dir="res/values-eu" />
        <!--values-fa-->
        <source-file src="src/android/res/values-fa/hms_values-fa.xml" target-dir="res/values-fa" />
        <!--values-fi-->
        <source-file src="src/android/res/values-fi/hms_values-fi.xml" target-dir="res/values-fi" />
        <!--values-fr-->
        <source-file src="src/android/res/values-fr/hms_values-fr.xml" target-dir="res/values-fr" />
        <!--values-gl-->
        <source-file src="src/android/res/values-gl/hms_values-gl.xml" target-dir="res/values-gl" />
        <!--values-gu-->
        <source-file src="src/android/res/values-gu/hms_values-gu.xml" target-dir="res/values-gu" />
        <!--values-hi-->
        <source-file src="src/android/res/values-hi/hms_values-hi.xml" target-dir="res/values-hi" />
        <!--values-hr-->
        <source-file src="src/android/res/values-hr/hms_values-hr.xml" target-dir="res/values-hr" />
        <!--values-hu-->
        <source-file src="src/android/res/values-hu/hms_values-hu.xml" target-dir="res/values-hu" />
        <!--values-in-->
        <source-file src="src/android/res/values-in/hms_values-in.xml" target-dir="res/values-in" />
        <!--values-it-->
        <source-file src="src/android/res/values-it/hms_values-it.xml" target-dir="res/values-it" />
        <!--values-iw-->
        <source-file src="src/android/res/values-iw/hms_values-iw.xml" target-dir="res/values-iw" />
        <!--values-ja-->
        <source-file src="src/android/res/values-ja/hms_values-ja.xml" target-dir="res/values-ja" />
        <!--values-ka-->
        <source-file src="src/android/res/values-ka/hms_values-ka.xml" target-dir="res/values-ka" />
        <!--values-kk-->
        <source-file src="src/android/res/values-kk/hms_values-kk.xml" target-dir="res/values-kk" />
        <!--values-km-->
        <source-file src="src/android/res/values-km/hms_values-km.xml" target-dir="res/values-km" />
        <!--values-kn-->
        <source-file src="src/android/res/values-kn/hms_values-kn.xml" target-dir="res/values-kn" />
        <!--values-ko-->
        <source-file src="src/android/res/values-ko/hms_values-ko.xml" target-dir="res/values-ko" />
        <!--values-lo-->
        <source-file src="src/android/res/values-lo/hms_values-lo.xml" target-dir="res/values-lo" />
        <!--values-lt-->
        <source-file src="src/android/res/values-lt/hms_values-lt.xml" target-dir="res/values-lt" />
        <!--values-lv-->
        <source-file src="src/android/res/values-lv/hms_values-lv.xml" target-dir="res/values-lv" />
        <!--values-mai-->
        <source-file src="src/android/res/values-mai/hms_values-mai.xml" target-dir="res/values-mai" />
        <!--values-mi-->
        <source-file src="src/android/res/values-mi/hms_values-mi.xml" target-dir="res/values-mi" />
        <!--values-mk-->
        <source-file src="src/android/res/values-mk/hms_values-mk.xml" target-dir="res/values-mk" />
        <!--values-ml-->
        <source-file src="src/android/res/values-ml/hms_values-ml.xml" target-dir="res/values-ml" />
        <!--values-mn-->
        <source-file src="src/android/res/values-mn/hms_values-mn.xml" target-dir="res/values-mn" />
        <!--values-mr-->
        <source-file src="src/android/res/values-mr/hms_values-mr.xml" target-dir="res/values-mr" />
        <!--values-ms-->
        <source-file src="src/android/res/values-ms/hms_values-ms.xml" target-dir="res/values-ms" />
        <!--values-my-rMM-->
        <source-file src="src/android/res/values-my-rMM/hms_values-my-rMM.xml" target-dir="res/values-my-rMM" />
        <!--values-my-rZG-->
        <source-file src="src/android/res/values-my-rZG/hms_values-my-rZG.xml" target-dir="res/values-my-rZG" />
        <!--values-nb-->
        <source-file src="src/android/res/values-nb/hms_values-nb.xml" target-dir="res/values-nb" />
        <!--values-ne-->
        <source-file src="src/android/res/values-ne/hms_values-ne.xml" target-dir="res/values-ne" />
        <!--values-nl-->
        <source-file src="src/android/res/values-nl/hms_values-nl.xml" target-dir="res/values-nl" />
        <!--values-or-->
        <source-file src="src/android/res/values-or/hms_values-or.xml" target-dir="res/values-or" />
        <!--values-pa-->
        <source-file src="src/android/res/values-pa/hms_values-pa.xml" target-dir="res/values-pa" />
        <!--values-pl-->
        <source-file src="src/android/res/values-pl/hms_values-pl.xml" target-dir="res/values-pl" />
        <!--values-pt-->
        <source-file src="src/android/res/values-pt/hms_values-pt.xml" target-dir="res/values-pt" />
        <!--values-pt-rPT-->
        <source-file src="src/android/res/values-pt-rPT/hms_values-pt-rPT.xml" target-dir="res/values-pt-rPT" />
        <!--values-ro-->
        <source-file src="src/android/res/values-ro/hms_values-ro.xml" target-dir="res/values-ro" />
        <!--values-ru-->
        <source-file src="src/android/res/values-ru/hms_values-ru.xml" target-dir="res/values-ru" />
        <!--values-si-->
        <source-file src="src/android/res/values-si/hms_values-si.xml" target-dir="res/values-si" />
        <!--values-sk-->
        <source-file src="src/android/res/values-sk/hms_values-sk.xml" target-dir="res/values-sk" />
        <!--values-sl-->
        <source-file src="src/android/res/values-sl/hms_values-sl.xml" target-dir="res/values-sl" />
        <!--values-sr-->
        <source-file src="src/android/res/values-sr/hms_values-sr.xml" target-dir="res/values-sr" />
        <!--values-sv-->
        <source-file src="src/android/res/values-sv/hms_values-sv.xml" target-dir="res/values-sv" />
        <!--values-sw-->
        <source-file src="src/android/res/values-sw/hms_values-sw.xml" target-dir="res/values-sw" />
        <!--values-ta-->
        <source-file src="src/android/res/values-ta/hms_values-ta.xml" target-dir="res/values-ta" />
        <!--values-te-->
        <source-file src="src/android/res/values-te/hms_values-te.xml" target-dir="res/values-te" />
        <!--values-th-->
        <source-file src="src/android/res/values-th/hms_values-th.xml" target-dir="res/values-th" />
        <!--values-tl-->
        <source-file src="src/android/res/values-tl/hms_values-tl.xml" target-dir="res/values-tl" />
        <!--values-tr-->
        <source-file src="src/android/res/values-tr/hms_values-tr.xml" target-dir="res/values-tr" />
        <!--values-uk-->
        <source-file src="src/android/res/values-uk/hms_values-uk.xml" target-dir="res/values-uk" />
        <!--values-ur-->
        <source-file src="src/android/res/values-ur/hms_values-ur.xml" target-dir="res/values-ur" />
        <!--values-uz-->
        <source-file src="src/android/res/values-uz/hms_values-uz.xml" target-dir="res/values-uz" />
        <!--values-vi-->
        <source-file src="src/android/res/values-vi/hms_values-vi.xml" target-dir="res/values-vi" />
        <!--values-zh-rCN-->
        <source-file src="src/android/res/values-zh-rCN/hms_values-zh-rCN.xml" target-dir="res/values-zh-rCN" />
        <!--values-zh-rHK-->
        <source-file src="src/android/res/values-zh-rHK/hms_values-zh-rHK.xml" target-dir="res/values-zh-rHK" />
        <!--values-zh-rTW-->
        <source-file src="src/android/res/values-zh-rTW/hms_values-zh-rTW.xml" target-dir="res/values-zh-rTW" />
        <!--values-zz-rZX-->
        <source-file src="src/android/res/values-zz-rZX/hms_values-zz-rZX.xml" target-dir="res/values-zz-rZX" />
        <!--assets-->
        <source-file src="src/android/assets/hmsrootcas.bks" target-dir="assets" />

        <!--hms agent code-->
        <!--com/huawei/android/hms/agent/common/handler/-->
        <source-file src="src/android/com/huawei/android/hms/agent/common/handler/CheckUpdateHandler.java" target-dir="src/com/huawei/android/hms/agent/common/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/handler/ConnectHandler.java" target-dir="src/com/huawei/android/hms/agent/common/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/handler/ICallbackCode.java" target-dir="src/com/huawei/android/hms/agent/common/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/handler/ICallbackResult.java" target-dir="src/com/huawei/android/hms/agent/common/handler/" />
        <!--com/huawei/android/hms/agent/common/-->
        <source-file src="src/android/com/huawei/android/hms/agent/common/ActivityMgr.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/ApiClientMgr.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/BaseAgentActivity.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/BaseApiAgent.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/CallbackCodeRunnable.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/CallbackResultRunnable.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/CheckUpdateApi.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/EmptyConnectCallback.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/HMSAgentActivity.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/HMSAgentLog.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/IActivityDestroyedCallback.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/IActivityPauseCallback.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/IActivityResumeCallback.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/IClientConnectCallback.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/INoProguard.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/IOUtils.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/StrUtils.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/ThreadUtil.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/UIUtils.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <!--com/huawei/android/hms/agent/hwid/handler-->
        <source-file src="src/android/com/huawei/android/hms/agent/hwid/handler/SignInHandler.java" target-dir="src/com/huawei/android/hms/agent/hwid/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/hwid/handler/SignOutHandler.java" target-dir="src/com/huawei/android/hms/agent/hwid/handler/" />
        <!--com/huawei/android/hms/agent/hwid-->
        <source-file src="src/android/com/huawei/android/hms/agent/hwid/CheckSignInApi.java" target-dir="src/com/huawei/android/hms/agent/hwid/" />
        <source-file src="src/android/com/huawei/android/hms/agent/hwid/HMSSignInAgentActivity.java" target-dir="src/com/huawei/android/hms/agent/hwid/" />
        <source-file src="src/android/com/huawei/android/hms/agent/hwid/SignInApi.java" target-dir="src/com/huawei/android/hms/agent/hwid/" />
        <source-file src="src/android/com/huawei/android/hms/agent/hwid/SignOutApi.java" target-dir="src/com/huawei/android/hms/agent/hwid/" />
        <!--com/huawei/android/hms/agent/pay-->
        <source-file src="src/android/com/huawei/android/hms/agent/pay/GetPayOrderApi.java" target-dir="src/com/huawei/android/hms/agent/pay/" />
        <source-file src="src/android/com/huawei/android/hms/agent/pay/GetProductDetailsApi.java" target-dir="src/com/huawei/android/hms/agent/pay/" />
        <source-file src="src/android/com/huawei/android/hms/agent/pay/GetPurchaseInfoApi.java" target-dir="src/com/huawei/android/hms/agent/pay/" />
        <source-file src="src/android/com/huawei/android/hms/agent/pay/HMSPayAgentActivity.java" target-dir="src/com/huawei/android/hms/agent/pay/" />
        <source-file src="src/android/com/huawei/android/hms/agent/pay/HMSPMSPayAgentActivity.java" target-dir="src/com/huawei/android/hms/agent/pay/" />
        <source-file src="src/android/com/huawei/android/hms/agent/pay/PayApi.java" target-dir="src/com/huawei/android/hms/agent/pay/" />
        <source-file src="src/android/com/huawei/android/hms/agent/pay/PaySignUtil.java" target-dir="src/com/huawei/android/hms/agent/pay/" />
        <source-file src="src/android/com/huawei/android/hms/agent/pay/ProductPayApi.java" target-dir="src/com/huawei/android/hms/agent/pay/" />
        <!--com/huawei/android/hms/agent/pay/handler-->
        <source-file src="src/android/com/huawei/android/hms/agent/pay/handler/GetOrderHandler.java" target-dir="src/com/huawei/android/hms/agent/pay/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/pay/handler/GetProductDetailsHandler.java" target-dir="src/com/huawei/android/hms/agent/pay/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/pay/handler/GetPurchaseInfoHandler.java" target-dir="src/com/huawei/android/hms/agent/pay/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/pay/handler/PayHandler.java" target-dir="src/com/huawei/android/hms/agent/pay/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/pay/handler/ProductPayHandler.java" target-dir="src/com/huawei/android/hms/agent/pay/handler/" />
        <!--com/huawei/android/hms/agent/push-->
        <source-file src="src/android/com/huawei/android/hms/agent/push/DeleteTokenApi.java" target-dir="src/com/huawei/android/hms/agent/push/" />
        <source-file src="src/android/com/huawei/android/hms/agent/push/EnableReceiveNormalMsgApi.java" target-dir="src/com/huawei/android/hms/agent/push/" />
        <source-file src="src/android/com/huawei/android/hms/agent/push/EnableReceiveNotifyMsgApi.java" target-dir="src/com/huawei/android/hms/agent/push/" />
        <source-file src="src/android/com/huawei/android/hms/agent/push/GetPushStateApi.java" target-dir="src/com/huawei/android/hms/agent/push/" />
        <source-file src="src/android/com/huawei/android/hms/agent/push/GetTokenApi.java" target-dir="src/com/huawei/android/hms/agent/push/" />
        <source-file src="src/android/com/huawei/android/hms/agent/push/QueryAgreementApi.java" target-dir="src/com/huawei/android/hms/agent/push/" />
        <!--com/huawei/android/hms/agent/push/handler-->
        <source-file src="src/android/com/huawei/android/hms/agent/push/handler/DeleteTokenHandler.java" target-dir="src/com/huawei/android/hms/agent/push/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/push/handler/EnableReceiveNormalMsgHandler.java" target-dir="src/com/huawei/android/hms/agent/push/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/push/handler/EnableReceiveNotifyMsgHandler.java" target-dir="src/com/huawei/android/hms/agent/push/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/push/handler/GetPushStateHandler.java" target-dir="src/com/huawei/android/hms/agent/push/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/push/handler/GetTokenHandler.java" target-dir="src/com/huawei/android/hms/agent/push/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/push/handler/QueryAgreementHandler.java" target-dir="src/com/huawei/android/hms/agent/push/handler/" />
        <!--com/huawei/android/hms/agent/sns-->
        <source-file src="src/android/com/huawei/android/hms/agent/sns/GetMsgSendIntentApi.java" target-dir="src/com/huawei/android/hms/agent/sns/" />
        <source-file src="src/android/com/huawei/android/hms/agent/sns/GetUiIntentApi.java" target-dir="src/com/huawei/android/hms/agent/sns/" />
        <!--com/huawei/android/hms/agent/sns/handler-->
        <source-file src="src/android/com/huawei/android/hms/agent/sns/handler/GetMsgSendIntentHandler.java" target-dir="src/com/huawei/android/hms/agent/sns/Handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/sns/handler/GetUiIntentHandler.java" target-dir="src/com/huawei/android/hms/agent/sns/Handler/" />
        <!--com/huawei/android/hms/agent/game-->
        <source-file src="src/android/com/huawei/android/hms/agent/game/FloatWindowApi.java" target-dir="src/com/huawei/android/hms/agent/game/" />
        <source-file src="src/android/com/huawei/android/hms/agent/game/GameLoginSignUtil.java" target-dir="src/com/huawei/android/hms/agent/game/" />
        <source-file src="src/android/com/huawei/android/hms/agent/game/GetTemperatureApi.java" target-dir="src/com/huawei/android/hms/agent/game/" />
        <source-file src="src/android/com/huawei/android/hms/agent/game/LoginApi.java" target-dir="src/com/huawei/android/hms/agent/game/" />
        <source-file src="src/android/com/huawei/android/hms/agent/game/RegisterHardwareCapabilityApi.java" target-dir="src/com/huawei/android/hms/agent/game/" />
        <source-file src="src/android/com/huawei/android/hms/agent/game/SavePlayerInfoApi.java" target-dir="src/com/huawei/android/hms/agent/game/" />
        <source-file src="src/android/com/huawei/android/hms/agent/game/UpdateGameInfoApi.java" target-dir="src/com/huawei/android/hms/agent/game/" />
        <!--com/huawei/android/hms/agent/game/handler-->
        <source-file src="src/android/com/huawei/android/hms/agent/game/handler/GetTemperatureHandler.java" target-dir="src/com/huawei/android/hms/agent/game/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/game/handler/ICheckLoginSignHandler.java" target-dir="src/com/huawei/android/hms/agent/game/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/game/handler/LoginHandler.java" target-dir="src/com/huawei/android/hms/agent/game/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/game/handler/RegisterHardwareCapabilityHandler.java" target-dir="src/com/huawei/android/hms/agent/game/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/game/handler/SaveInfoHandler.java" target-dir="src/com/huawei/android/hms/agent/game/handler/" />
        <!--com/huawei/android/hms/agent/game/checksignutil-->
        <source-file src="src/android/com/huawei/android/hms/agent/game/checksignutil/Base64Util.java" target-dir="src/com/huawei/android/hms/agent/game/checksignutil/" />
        <source-file src="src/android/com/huawei/android/hms/agent/game/checksignutil/RSAUtil.java" target-dir="src/com/huawei/android/hms/agent/game/checksignutil/" />
        <!--com/huawei/android/hms/agent/-->
        <source-file src="src/android/com/huawei/android/hms/agent/HMSAgent.java" target-dir="src/com/huawei/android/hms/agent/" />



        <!--极光推送-->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="JPushPlugin">
                <param name="android-package" value="cn.jiguang.cordova.push.JPushPlugin" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest" mode="merge">
            <!-- Required  一些系统要求的权限，如访问网络等 -->
            <permission android:name="$PACKAGE_NAME.permission.JPUSH_MESSAGE" android:protectionLevel="signature" />

            <uses-permission android:name="$PACKAGE_NAME.permission.JPUSH_MESSAGE" />

            <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.WRITE_SETTINGS" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

            <uses-permission android:name="android.permission.VIBRATE" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application" mode="merge">


            <!-- Required SDK 核心功能-->
            <service android:name="cn.jpush.android.service.PushService" android:enabled="true" android:exported="false" android:process=":remote">
                <intent-filter>
                    <action android:name="cn.jpush.android.intent.REGISTER" />
                    <action android:name="cn.jpush.android.intent.REPORT" />
                    <action android:name="cn.jpush.android.intent.PushService" />
                    <action android:name="cn.jpush.android.intent.PUSH_TIME" />
                </intent-filter>
            </service>

            <!-- since 3.0.9 Required SDK 核心功能-->
            <provider android:authorities="$PACKAGE_NAME.DataProvider" android:name="cn.jpush.android.service.DataProvider" android:exported="true" />

            <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的 JPush 服务相互拉起的功能。 -->
            <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
            <service android:name="cn.jpush.android.service.DaemonService" android:enabled="true" android:exported="true">
                <intent-filter>
                    <action android:name="cn.jpush.android.intent.DaemonService" />
                    <category android:name="$PACKAGE_NAME" />
                </intent-filter>
            </service>

            <!-- since 3.1.0 Required SDK 核心功能-->
            <provider android:authorities="$PACKAGE_NAME.DownloadProvider" android:name="cn.jpush.android.service.DownloadProvider" android:exported="true" />

            <!-- Required SDK核心功能-->
            <receiver android:name="cn.jpush.android.service.PushReceiver" android:enabled="true">
                <intent-filter android:priority="1000">
                    <!--Required  显示通知栏 -->
                    <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                    <category android:name="$PACKAGE_NAME" />
                </intent-filter>
                <intent-filter>
                    <action android:name="android.intent.action.USER_PRESENT" />
                    <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                </intent-filter>
                <!-- Optional -->
                <intent-filter>
                    <action android:name="android.intent.action.PACKAGE_ADDED" />
                    <action android:name="android.intent.action.PACKAGE_REMOVED" />
                    <data android:scheme="package" />
                </intent-filter>
            </receiver>

            <!-- Required SDK核心功能 -->
            <activity android:name="cn.jpush.android.ui.PushActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:configChanges="orientation|keyboardHidden" android:exported="false">
                <intent-filter>
                    <action android:name="cn.jpush.android.ui.PushActivity" />
                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="$PACKAGE_NAME" />
                </intent-filter>
            </activity>

            <!-- SDK 核心功能-->
            <activity android:name="cn.jpush.android.ui.PopWinActivity" android:configChanges="orientation|keyboardHidden" android:exported="false" android:theme="@style/MyDialogStyle">
                <intent-filter>
                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="$PACKAGE_NAME" />
                </intent-filter>
            </activity>

            <!-- Required SDK 核心功能 -->
            <service android:name="cn.jpush.android.service.DownloadService" android:enabled="true" android:exported="false">
            </service>
            <!-- Required SDK核心功能-->
            <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

            <receiver android:name="cn.jiguang.cordova.push.JPushEventReceiver" android:enabled="true" android:exported="false">
                <intent-filter>
                    <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                    <category android:name="$PACKAGE_NAME" />
                </intent-filter>
            </receiver>

            <!-- 插件通知广播接收器 -->
            <receiver android:name="cn.jiguang.cordova.push.JPushReceiver" android:enabled="true" android:exported="false">
                <intent-filter>
                    <action android:name="cn.jpush.android.intent.REGISTRATION" />
                    <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                    <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                    <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                    <action android:name="cn.jpush.android.intent.CONNECTION" />
                    <category android:name="$PACKAGE_NAME" />
                </intent-filter>
            </receiver>


            <!-- Required. Enable it you can get statistics data with channel -->
            <meta-data android:name="JPUSH_CHANNEL" android:value="$CHANNEL" />
            <meta-data android:name="JPUSH_APPKEY" android:value="$JPUSH_APP_KEY" />
        </config-file>

        <lib-file src="src/android/libs/jpush-android-3.2.0.jar" />

        <source-file src="src/android/JPushReceiver.java" target-dir="src/cn/jiguang/cordova/push" />
        <source-file src="src/android/JPushPlugin.java" target-dir="src/cn/jiguang/cordova/push" />
        <source-file src="src/android/JPushEventReceiver.java" target-dir="src/cn/jiguang/cordova/push" />

        <resource-file src="src/android/res/drawable-hdpi/jpush_richpush_btn_selector.xml" target="res/drawable/jpush_richpush_btn_selector.xml" />
        <resource-file src="src/android/res/drawable-hdpi/jpush_richpush_progressbar.xml" target="res/drawable/jpush_richpush_progressbar.xml" />

        <resource-file src="src/android/res/drawable-hdpi/jpush_ic_richpush_actionbar_back.png" target="res/drawable-hdpi/jpush_ic_richpush_actionbar_back.png" />
        <resource-file src="src/android/res/drawable-hdpi/jpush_ic_richpush_actionbar_divider.png" target="res/drawable-hdpi/jpush_ic_richpush_actionbar_divider.png" />

        <resource-file src="src/android/res/layout/jpush_popwin_layout.xml" target="res/layout/jpush_popwin_layout.xml" />
        <resource-file src="src/android/res/layout/jpush_webview_layout.xml" target="res/layout/jpush_webview_layout.xml" />
        <resource-file src="src/android/res/layout/test_notification_layout.xml" target="res/layout/test_notification_layout.xml" />

        <resource-file src="src/android/res/values/jpush_style.xml" target="res/values/jpush_style.xml" />
    </platform>

    <!-- ios -->
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="PushPlugin">
                <param name="ios-package" value="PushPlugin" />
            </feature>
        </config-file>

        <source-file src="src/ios/AppDelegate+notification.m" />
        <source-file src="src/ios/PushPlugin.m" />

        <header-file src="src/ios/AppDelegate+notification.h" />
        <header-file src="src/ios/PushPlugin.h" />

    </platform>
</plugin>